
@{
    ViewBag.Title = "Service";
}

<section class=" bannerPic " style="background-image: url(/CAE-Master/img/bg001.jpeg); background-size: cover; background-position: center center; background-repeat: no-repeat;">

    <div class="container">
        <div class="col-md-12 h-text-center">

            <h1> 中心簡介</h1>

        </div>
    </div>
</section>
<article>

    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-sm-12 col-xl-3 ">
                    <div class="container ">

                        <ul class="e-breadcrumb">
                            <li>首頁</li>
                            <li>中心簡介</li>
                            <li>關於CAE</li>
                        </ul>

                        <nav class="m-search-menu">
                            <ul class="m-search-menu__list">
                                <li><a class="m-search-menu__link" href="@Url.Action("AboutUs", "AboutUs")">關於CAE中心</a></li>
                                <li><a class="m-search-menu__link" href="@Url.Action("ConnectionUs", "AboutUs")">聯絡方式</a></li>
                                <li><a class="m-search-menu__link is-active" href="@Url.Action("Service", "AboutUs")">服務項目介紹</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="col-sm-12 col-xl-9">
                    <div class=" m-ponent px-sm-3">

                        <h2> 服務項目介紹</h2>

                        <div class="m-adressBook">
                            <img src="/CAE-Master/img/des_img.gif" alt="" class="e-img">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

