@using CAEProject.Models
@model CAEProject.Models.ProjectService

<!--專案服務指定顧問(是/否)-->
@helper PsHelperResult(string pro)
{
    if (string.IsNullOrEmpty(pro))
    {
        @:無指定
    }
    else
    {
        @pro
    }
}

<!--<公司屬性>、<產業類別>-->
@helper MbCompanyTypeHelperResult(int who)
{
    switch (who)
    {
        case 1:
            string[] CompanyType = new string[] { "公司、行號", "政府機構", "學校", "公/協會", "研究機構" };
            foreach (var ct in CompanyType)
            {
                @:<option value="@ct">@ct</option>
            }
            break;
        case 2:
            string[] industry = new string[] { "金屬基本業(鐵、非鐵)", "金屬製品製造業", "其他" };
            foreach (var ind in industry)
            {
                @:<option value="@ind">@ind</option>
            }
            break;
    }
}

@helper MbStatusHelperResult(ApplicationStatus status)
{
    if (status == ApplicationStatus.以停止 || status == ApplicationStatus.審核中)
    {
        @:disabled
    }
}

@helper MemberTypeHelperResult(MemberLevel type)
{
    switch (type)
    {
        case MemberLevel.鑽石會員:
            @:鑽石
            break;
        case MemberLevel.白金會費:
            @:白金
            break;
    }
}

@helper TcStatusHelperResult(DateTime singUpStr, DateTime singUpEd, DateTime activityStr, DateTime activityEd)
{
    if (DateTime.Now < singUpStr)
    {
        @:<span class="e_bandge e_bandge_third-color">未開始</span>
    }
    else if (DateTime.Now > singUpStr && DateTime.Now < singUpEd)
    {
        @:<span class="e_bandge e_bandge_deep-pink">報名中</span>
    }
    else if (DateTime.Now < activityStr)
    {
        @:<span class="e_bandge e_bandge_soft_color">報名截止</span>
    }
    else if (DateTime.Now > activityStr && DateTime.Now < activityEd)
    {
        @:<span class="e_bandge e_bandge_depGreen">進行中</span>
    }
    else if (DateTime.Now > activityEd)
    {
        @:<span class="e_bandge e_bandge_main_color">已結束</span>
    }
}

